.chatList {
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: Inter,sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,.75);
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #1a2236;
}

.header {
    line-height: 1.5;
    text-align: left;
    font-family: Inter,sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,.75);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    font-weight: 600;
    border-radius: 0;
}

.span {
    line-height: 1.5;
    text-align: left;
    font-family: Inter,sans-serif;
    color: rgba(255,255,255,.75);
    font-weight: 600;
    box-sizing: border-box;
    font-size: 22px;
}

a {
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.button {
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter,sans-serif;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: right;
    color: rgba(255,255,255,.4);
    background-color: #1a2236;
    border: none;
}

.layout {
    padding: 17px 30px;
    border: 1px solid #293145;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}