.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a2236;
}

.svg {
  width: 100px;
  height: 100px;
  display:inline-block;
}
